.myTasks{
  border: 3px solid #adbdd1;
  border-radius: 1em;
  background-color: #dee5ed;
  box-sizing: content-box;
  margin: 0.5em;
  padding: 1em;
}

.myTasks > input, .myTasks > label {
    padding: 15px;
  }
  .myTasks button {
    padding: 0;
    float: right;
  }
  .myTasks #delete {
  	color: red;
  }